<%#<%= form_with(model: job, local: true) do |form| %>
<%= form_with scope: :job, url: jobs_path, local: true do |form| %>

  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :start_location %>
    <%= form.text_field :start_location %>
  </div>

  <div class="field">
    <%= form.label :end_location %>
    <%= form.text_field :end_location %>
  </div>

  <div class="field">
    <%= form.label :date_pickup %>
    <%= form.datetime_select :date_pickup %>
  </div>

  <div class="field">
    <%= form.label :date_delivery %>
    <%= form.datetime_select :date_delivery %>
  </div>

  <div class="field">
    <%= form.hidden_field :acceptor_id, :value => nil %>
  </div>

  <div class="field">
    <%= form.hidden_field :accepted, :value => false %>
  </div>

  <div class="field">
    <%= form.hidden_field :completed, :value => false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>