<%= form_with scope: :job, url: jobs_path, local: true do |form| %>

<% if job.errors.any? %>
<div id="error_explanation">
	<h2"><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

	<ul>
		<% job.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="card"></div>
<div class="card shadow p-3 mb-5 bg-white rounded text-light d-flex" id="create-form">
	<h3 class="default-text py-3"><i class="m-3 fas fa-shuttle-van"></i> New Job Posting</h3>
	<div class="form-group mx-5">
  <div class="d-inline-block">
  		<i class="fas fa-file-alt mr-2"></i>
		<label for="defaultForm-email" class="mr-2">Job Title</label>
  </div>
  		<%= form.text_field :title, class: "d-block" %>

	</div>
  <br>
	<div class="form-group mx-5">
    <div class="d-inline-block">

		<i class="fas fa-box mr-2"></i>
		<label for="defaultForm-email" class="mr-2">Package Image</label>
      </div>

		<%= form.file_field :package_picture, class: "d-block"  %>
	</div>
  <br>
	<div class="form-group mx-5">
      <div class="d-inline-block">

		<i class="fas fa-map-marker-alt mr-2"></i>
		<label for="defaultForm-email" class="mr-2">Start Location</label>
    </div>
		<%= form.text_field :start_location, class: 'autocomplete d-block' %>
	</div>
  <br>
	<div class="form-group mx-5">
        <div class="d-inline-block">

		<i class="fas fa-map-marker-alt"></i>
		<label for="defaultForm-email" class="mr-2">End Location</label>
    </div>
		<%= form.text_field :end_location, class:'autocomplete d-block' %>
	</div>
  <br>
	<div class="form-group mx-5">
          <div class="d-inline-block">

		<i class="fas fa-calendar-alt"></i>
		<label for="defaultForm-email" class="mr-2">Pickup Date</label>
        </div>

		<%= form.datetime_select :date_pickup, class: "d-block" %>
	</div>
  <br>
	<div class="form-group mx-5">
          <div class="d-inline-block">

		<i class="fas fa-calendar-alt"></i>
		<label for="defaultForm-email" class="mr-2">Delivery Date</label>
        </div>

		<%= form.datetime_select :date_delivery, class: "d-block" %>
	</div>
  <br>
	<div class="form-group mx-5">
		<%= form.submit "Create Job", class:"btn btn-default" %>
	</div>
  <br>
</div>

<div class="field">
	<%= form.hidden_field :start_lat, :value => nil %>
</div>

<div class="field">
	<%= form.hidden_field :start_long, :value => nil %>
</div>

<div class="field">
	<%= form.hidden_field :end_lat, :value => nil %>
</div>

<div class="field">
	<%= form.hidden_field :end_long, :value => nil %>
</div>

<div class="field">
	<%= form.hidden_field :acceptor_id, :value => nil %>
</div>

<div class="field">
	<%= form.hidden_field :accepted, :value => false %>
</div>

<div class="field">
	<%= form.hidden_field :completed, :value => false %>
</div>

<% end %>