<% provide :head_tags do %>
    <%# Gon gem transfers rails hash data to JS %>
    <%= include_gon %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC-tEAh56qJBnYr7WTsvWyPqa1G9lRPpCc&libraries=places&callback=initMap', 'data-turbolinks-track': 'reload'%>
    <link href="/loggedin.css" rel="stylesheet" type="text/css">
<% end %>
  <div class="container shadow p-3 mb-5 bg-white rounded border border-info">
	<div>
    	<input type="text" class="form-control w-25 d-inline autocomplete" placeholder="Start Address" id="job_start_location">
	</div>
    <input type="text" class="form-control w-25 d-inline autocomplete" placeholder="End Address" id="job_end_location">
    <button class="btn btn-outline-primary " id="maptrigger">Show Map</button>
  </div>
<div class="wrapper shadow mb-5 ml-3 mr-3 bg-white rounded border border-info w-90">
	<div class="job-list" id='job-list'>
		<% @jobs.each do |job| %>
		<% p job %>
		<%= content_tag :div,
		class: "card text-left job-card",
			startloc: job.start_location,
			endloc: job.end_location,
			startlat: job.start_lat,
			startlong: job.start_long,
			endlat: job.end_lat,
			endlong: job.end_long do -%>
			<div class="card-body d-flex">
				<div>
					<% if job.package_picture == nil %>
					<%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 50 %>
					<% else %>
					<%= image_tag job.package_picture, width: 50 %>
					<% end %>
				</div>
				<div class="m-2">
					<h5 class="card-title text-info">
						<%= job.title.capitalize %>
					</h5>
					<p>
						<strong>Deliver from</strong> <%= job.start_location %> <strong>to</strong> <%= job.end_location %>
						<br>
						<strong>Pickup by</strong> <%= job.date_pickup %> and <strong>deliver by </strong><%= job.date_delivery %>
					</p>
					<a href="/users/<%= job.user.id %>" class="btn btn-primary">Creator: <%= job.user.username %></a>
					<%= link_to 'Accept Job', job_path(job.id), method: :put, class:"btn btn-primary"%>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
		<div class="map-wrapper" id="map-wrapper">
			<div id="map"></div>
		</div>
	</div>
    <%# <script type="text/javascript" src="/loggedinnav.js"></script> %>
    <script>     
if (Cookies.get('nav') == undefined) {
    $('#mainNav').addClass('transs');
} else {
    $('.navbar-brand').removeClass('tranzz');
    $('#mainNav').removeClass('transs');
    $('#mainNav').addClass('navbar-shrink');
    $('#mainNav').addClass('noblocking');

}
</script>
