<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Start location:</strong>
  <%= @job.start_location %>
</p>

<p>
  <strong>End location:</strong>
  <%= @job.end_location %>
</p>

<p>
  <strong>Date pickup:</strong>
  <%= @job.date_pickup %>
</p>

<p>
  <strong>Date delivery:</strong>
  <%= @job.date_delivery %>
</p>

<p>
  <strong>Created by user:</strong>
  <%= @job.user.username %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', root_path %>