<% if user_signed_in? %>
<h1>User</h1>
  <div>Signed in as... <%= current_user.username %> <%= link_to 'Edit profile', edit_user_registration_path %></div>
	<table>
	  <tbody>
	    <tr>
	      <td><%= image_tag current_user.profile_picture, width: 300 %></td>
	    </tr>
      <tr>
        <td>Email address <%= current_user.email %></td>
      </tr>
	  </tbody>
	</table>

<%= form_tag("/", method: "get") do %>
	<%= select_tag(:job, options_for_select([['Job created', 1], ['Job accepted', 2], ['Job completed', 3], ['Job ongoing', 4]])) %>
	<%= submit_tag("Show") %>
<% end %>

	<% if @jobs == nil %>
		<h3>Click Show above to view tabs</h3>
	<% else %>
		<table>
			<thead>
		    <tr>
		      <th>Job ID</th>
		      <th>Job Title</th>
		      <th>Package picture</th>
		      <th>Job start location</th>
		      <th>Job end location</th>
		      <th>Job date pickup</th>
		      <th>Job date delivery</th>
		      <th>Job accepted</th>
		      <th>Job completed</th>
		      <th>Job creator</th>
		      <th>Job acceptor</th>
		    </tr>
		  </thead>

			<tbody>
				<% @jobs.each do |job| %>
		      <tr>
		        <td><%= job.id %></td>
		        <td><%= job.title %></td>
		        <td><%= image_tag job.package_picture, width: 150 %></td>
		        <td><%= job.start_location %></td>
		        <td><%= job.end_location %></td>
		        <td><%= job.date_pickup %></td>
		        <td><%= job.date_delivery %></td>
		        <td><%= job.accepted %></td>
		        <td><%= job.completed %></td>
		        <td><%= job.user.username %></td>
		        <td><%= job.acceptor.username %></td>
		      </tr>
		    <% end %>
		  </tbody>
	</table>
	<% end %>


<% else %>
<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Profile picture</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= image_tag user.profile_picture, width: 300 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<br>

<%= link_to 'Log out', destroy_user_session_url, method: :delete %>
<%= link_to 'Log in', new_user_session_url %>
<%= link_to 'Sign up', new_user_registration_path %>