<% if user_signed_in? %>
<div class="container m-0" style="max-width: 100%;">
  <div class="row">
    <div class="col">
			<h1>Welcome <%= current_user.username %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
		    <%= link_to 'Edit profile', edit_user_registration_path, class:"btn btn-info"%>
		    <%= link_to 'New Job', new_job_path, class:"btn btn-info" %>
			<table>
			  <tbody>
			    <% if current_user.profile_picture == nil %>
		        <h3>No profile picture, please upload</h3>
		      <% else %>
		        <tr>
		          <td><%= image_tag current_user.profile_picture, width: 240 %></td>
		        </tr>
		      <% end %>
		      <tr>
		        <td>Email address <%= current_user.email %></td>
		      </tr>
		      <tr>
		      	<td><%= link_to 'Users', users_path, class:"btn btn-info" %>
		      		<span></span><%= link_to 'Log out', destroy_user_session_url, method: :delete, class:"btn btn-info" %></td>
		      </tr>
			  </tbody>
			</table>
	  </div>
    <div class="col-10">
      <ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link <%=active_class('/?job=1')%>" href="/?job=1"><strong>Jobs created</strong></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link <%=active_class('/?job=2')%>" href="/?job=2"><strong>Jobs accepted</strong></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link <%=active_class('/?job=3')%>" href="/?job=3"><strong>Jobs completed</strong></a>
			  </li>
			</ul>
			<% if @jobs == nil %>
				<h3>Click tabs above to see different tabs</h3>
			<% else %>
			<div class="card text-center">
				<% if request.original_fullpath == '/?job=1' || request.original_fullpath == '/?job=4' || request.original_fullpath == '/?job=5'%>
			  <div class="card-header">
			    <ul class="nav nav-tabs card-header-tabs">
			      <li class="nav-item">
			        <a class="nav-link <%=active_class('/?job=4')%>" href="/?job=4">Pending completion</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link <%=active_class('/?job=5')%>" href="/?job=5">Pending acceptance</a>
			      </li>
			    </ul>
			  </div>
			  <% end %>
				<% @jobs.each do |job| %>
				  <div class="card text-left">
					  <div class="card-body d-flex">
					  	<div>
					  		<% if job.package_picture == nil %>
					        <%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 150 %>
		            <% else %>
					        <%= image_tag job.package_picture, width: 150 %>
		            <% end %>
		          </div>
							<div class="m-2">
		            <h5 class="card-title d-inline">
						    	<%= job.title %>
		            </h5>
					    	<p>
			            Delivery from <%= job.start_location %> to <%= job.end_location %>
			            <br>
					        Pickup by <%= job.date_pickup %> and deliver by <%= job.date_delivery %>
					      </p>
					  		<% if job.acceptor_id == nil %>
								  <div class="btn btn-primary">Pending</div>
					  		<% elsif job.acceptor_id != nil %>
								  <a href="" class="btn btn-primary">Acceptor: <%= job.acceptor.username %></a>
							  <% end %>
					    </div>
					  </div>
					</div>
				<% end %>
			</div>
			<% end %>
    </div>
  </div>
</div>

<% else %>
<h1>Users</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Profile picture</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <% if user.profile_picture == nil %>
          <td>No profile picture, please upload</td>
        <% else %>
          <td><%= image_tag user.profile_picture, width: 300 %></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Log in', new_user_session_url, class:"btn btn-info" %>
<%= link_to 'Sign up', new_user_registration_path, class:"btn btn-info" %>
<% end %>