


<% if user_signed_in? %>
<div class="container m-0" style="max-width: 100%;">
	<div class="row text-center">
		<div class="col mt-2">
			<div class="p-3 m-5 bg-white rounded border border-secondary clearfix mx-auto" style="box-shadow: 3px 3px 10px grey; width: 60%;">
				<h2>Welcome, <%= current_user.username %>!</h1>
				<% if current_user.profile_picture == nil %>
				<%= image_tag 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png', class: 'profile-pic-full m-5', style: 'height: 200px; width: 200px;' %>
				<% else %>
				<%= image_tag current_user.profile_picture, class: 'profile-pic-full mx-5 my-3 float-left', style: 'height: 200px; width: 200px; box-shadow: 3px 3px 10px grey;' %>
				<% end %>
				<div class="d-inline-block">
					<%# <strong>Email address: </strong><%= current_user.email %>
					<br>
					<a href="/jobs/new" class="btn btn-primary m-2" style="color: black;" tabindex="-1" role="button" aria-disabled="true">Create Job</a>
					<a href="/map" class="btn btn-primary m-2" style="color: black;" tabindex="-1" role="button">Jobs Listing</a>
					<a href="/users/edit" class="btn btn-primary d-block mt-1 m-2"  style="color: black;" tabindex="-1" role="button">Edit Profile</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="p-3 mx-5 bg-white rounded border border-secondary" style="box-shadow: 3px 3px 10px grey;">
				<div class="accordion" id="accordionExample">
					<ul class="nav nav-tabs justify-content-center">
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#tab1" role="button" aria-expanded="false" aria-controls="collapseExample1"><strong>Jobs created</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#tab2" role="button" aria-expanded="false" aria-controls="collapseExample2"><strong>Jobs accepted</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#tab3" role="button" aria-expanded="false" aria-controls="collapseExample3"><strong>Jobs completed</strong></a>
						</li>
					</ul>
					<div class="collapse" id="tab1" data-parent="#accordionExample">
						<% @jobs.where(:user_id => current_user.id).where(:completed => false).order('accepted = true').order('date_delivery asc').each do |job| %>
						<div class="card text-left">
							<div class="card-body d-flex">
								<div>
									<% if job.package_picture == nil %>
									<%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 150, class: 'm-3' %>
									<% else %>
									<%= image_tag job.package_picture, width: 150, class: 'm-3' %>
									<% end %>
								</div>
								<div class="m-2">
									<h5 class="card-title d-inline" style="color: black;">
										<%= job.title.capitalize %>
									</h5>
									<p>
										<strong>Deliver from</strong> <%= job.start_location %> <strong>to</strong> <%= job.end_location %>
										<br>
										<strong>Pickup by</strong> <%= job.date_pickup.to_formatted_s(:long_ordinal) %> and <strong>deliver by </strong><%= job.date_delivery.to_formatted_s(:long_ordinal) %>
									</p>
									<% if job.acceptor_id == nil %>
									<div class="btn btn-primary" style="color: black;">Pending Acceptance</div>
									<% elsif job.acceptor_id != nil %>
									<a href="/users/<%= job.acceptor_id %>" class="btn btn-primary", style="color: black;">Acceptor: <%= job.acceptor.username %></a>
									<% end %>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<div class="collapse" id="tab2" data-parent="#accordionExample">
						<% @jobs.where(:acceptor_id => current_user.id).where.not(:completed => true).order('date_delivery asc').each do |job| %>
						<div class="card text-left">
							<div class="card-body d-flex">
								<div>
									<% if job.package_picture == nil %>
									<%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 150, height: 150, class: 'm-3' %>
									<% else %>
									<%= image_tag job.package_picture, width: 150, height: 150, class: 'm-3' %>
									<% end %>
								</div>
								<div class="m-2">
									<h5 class="card-title d-inline" style="color: black;">
										<%= job.title.capitalize %>
									</h5>
									<p>
										<strong>Deliver from</strong> <%= job.start_location %> <strong>to</strong> <%= job.end_location %>
										<br>
										<strong>Pickup by</strong> <%= job.date_pickup.to_formatted_s(:long_ordinal) %> and <strong>deliver by</strong> <%= job.date_delivery.to_formatted_s(:long_ordinal) %>
									</p>
									<% if job.acceptor_id == nil %>
									<div class="btn btn-primary"  style="color: black;">Pending Acceptance</div>
									<% elsif job.acceptor_id != nil and job.user.username != current_user.username%>
									<a href="/users/<%= job.user.id %>" class="btn btn-primary"  style="color: black;">Creator: <%= job.user.username %></a>
									<% end %>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<div class="collapse" id="tab3" data-parent="#accordionExample">
						<% @jobs.where(:user_id => current_user.id).or(Job.where(:acceptor_id => current_user.id)).where(:completed => true).order('date_delivery asc').each do |job| %>
						<div class="card text-left">
							<div class="card-body d-flex">
								<div>
									<% if job.package_picture == nil %>
									<%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 150, height: 150, class: 'm-3' %>
									<% else %>
									<%= image_tag job.package_picture, width: 150, height: 150, class: 'm-3' %>
									<% end %>
								</div>
								<div class="m-2">
									<h5 class="card-title d-inline" style="color: black;">
										<%= job.title.capitalize %>
									</h5>
									<p>
										<strong>Deliver from</strong> <%= job.start_location %> <strong>to</strong> <%= job.end_location %>
										<br>
										<strong>Pickup by</strong> <%= job.date_pickup.to_formatted_s(:long_ordinal) %> and <strong>deliver by</strong> <%= job.date_delivery.to_formatted_s(:long_ordinal) %>
									</p>
									<% if job.acceptor_id == nil %>
									<div class="btn btn-primary" style="color: black;">Pending Acceptance</div>
									<% elsif job.acceptor_id != nil and job.user.username != current_user.username%>
									<a href="/users/<%= job.user.id %>" class="btn btn-primary" style="color: black;">Creator: <%= job.user.username %></a>
									<% elsif job.acceptor_id != nil %>
									<a href="/users/<%= job.acceptor_id %>" class="btn btn-primary" style="color: black;">Acceptor: <%= job.acceptor.username %></a>
									<% end %>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>     
if (Cookies.get('nav') == undefined) {
    $('#mainNav').addClass('transs');
} else {
    $('.navbar-brand').removeClass('tranzz');
    $('#mainNav').removeClass('transs');
    $('#mainNav').addClass('navbar-shrink');
    $('#mainNav').addClass('noblocking');

}</script>

<%# <script type="text/javascript" src="/loggedinnav.js"></script> %>
<% else %>

      <%= render partial: 'layouts/publicindex' %>

<% end %>