<% if user_signed_in? %>
<div class="container m-0" style="max-width: 100%;">
	<div class="row">
		<div class="col">
			<h1>Welcome <%= current_user.username %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<table>
				<tbody>
					<% if current_user.profile_picture == nil %>
					<h3>No profile picture, please upload</h3>
					<% else %>
					<tr>
						<td><%= image_tag current_user.profile_picture, class: 'profile-pic-full' %></td>
					</tr>
					<% end %>
					<tr>
						<td>Email address <%= current_user.email %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-10">
			<a href="/jobs/new" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Create Job</a>
			<a href="/map" class="btn btn-primary" tabindex="-1" role="button">Jobs Listing</a>
			<div class="accordion" id="accordionExample">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#tab1" role="button" aria-expanded="false" aria-controls="collapseExample1"><strong>Jobs created</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#tab2" role="button" aria-expanded="false" aria-controls="collapseExample2"><strong>Jobs accepted</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#tab3" role="button" aria-expanded="false" aria-controls="collapseExample3"><strong>Jobs completed</strong></a>
					</li>
				</ul>
				<div class="collapse" id="tab1" data-parent="#accordionExample">
					<% @jobs.where(:user_id => current_user.id).where(:completed => false).each do |job| %>
					<div class="card text-left">
						<div class="card-body d-flex">
							<div>
								<% if job.package_picture == nil %>
								<%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 150, height: 150 %>
								<% else %>
								<%= image_tag job.package_picture, width: 150, height: 150 %>
								<% end %>
							</div>
							<div class="m-2">
								<h5 class="card-title d-inline">
									<%= job.title %>
								</h5>
								<p>
									Delivery from <%= job.start_location %> to <%= job.end_location %>
									<br>
									Pickup by <%= job.date_pickup %> and deliver by <%= job.date_delivery %>
								</p>
								<% if job.acceptor_id == nil %>
								<div class="btn btn-primary">Pending</div>
								<% elsif job.acceptor_id != nil and job.user.username != current_user.username%>
								<a href="/users/<%= job.user.id %>" class="btn btn-primary">Creator: <%= job.user.username %></a>
								<% elsif job.acceptor_id != nil %>
								<a href="/users/<%= job.acceptor_id %>" class="btn btn-primary">Acceptor: <%= job.acceptor.username %></a>
								<% end %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<div class="collapse" id="tab2" data-parent="#accordionExample">
					<% @jobs.where(:acceptor_id => current_user.id).each do |job| %>
					<div class="card text-left">
						<div class="card-body d-flex">
							<div>
								<% if job.package_picture == nil %>
								<%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 150, height: 150 %>
								<% else %>
								<%= image_tag job.package_picture, width: 150, height: 150 %>
								<% end %>
							</div>
							<div class="m-2">
								<h5 class="card-title d-inline">
									<%= job.title %>
								</h5>
								<p>
									Delivery from <%= job.start_location %> to <%= job.end_location %>
									<br>
									Pickup by <%= job.date_pickup %> and deliver by <%= job.date_delivery %>
								</p>
								<% if job.acceptor_id == nil %>
								<div class="btn btn-primary">Pending</div>
								<% elsif job.acceptor_id != nil and job.user.username != current_user.username%>
								<a href="/users/<%= job.user.id %>" class="btn btn-primary">Creator: <%= job.user.username %></a>
								<% elsif job.acceptor_id != nil %>
								<a href="/users/<%= job.acceptor_id %>" class="btn btn-primary">Acceptor: <%= job.acceptor.username %></a>
								<% end %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<div class="collapse" id="tab3" data-parent="#accordionExample">
					<% @jobs.where(:user_id => current_user.id).or(Job.where(:acceptor_id => current_user.id)).where(:completed => true).each do |job| %>
					<div class="card text-left">
						<div class="card-body d-flex">
							<div>
								<% if job.package_picture == nil %>
								<%= image_tag 'http://catawbabrewing.com/wp-content/themes/catawba/images/placeholder.png', width: 150, height: 150 %>
								<% else %>
								<%= image_tag job.package_picture, width: 150, height: 150 %>
								<% end %>
							</div>
							<div class="m-2">
								<h5 class="card-title d-inline">
									<%= job.title %>
								</h5>
								<p>
									Delivery from <%= job.start_location %> to <%= job.end_location %>
									<br>
									Pickup by <%= job.date_pickup %> and deliver by <%= job.date_delivery %>
								</p>
								<% if job.acceptor_id == nil %>
								<div class="btn btn-primary">Pending</div>
								<% elsif job.acceptor_id != nil and job.user.username != current_user.username%>
								<a href="/users/<%= job.user.id %>" class="btn btn-primary">Creator: <%= job.user.username %></a>
								<% elsif job.acceptor_id != nil %>
								<a href="/users/<%= job.acceptor_id %>" class="btn btn-primary">Acceptor: <%= job.acceptor.username %></a>
								<% end %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<% else %>
<h1>Users</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>User ID</th>
			<th>Username</th>
			<th>Profile picture</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.username %></td>
			<% if user.profile_picture == nil %>
			<td>No profile picture, please upload</td>
			<% else %>
			<td><%= image_tag user.profile_picture, width: 300 %></td>
			<% end %>
			<td><%= link_to 'Show', user %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>