<!DOCTYPE html>
<html>
  <head>
    <title>ShipIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('shipit.png') %>
    <%= yield(:head_tags) %>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
  </head>

  <body style="margin-top: 67px;">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="/">
        <h3 style="font-family: 'ZCOOL QingKe HuangYou', cursive; color: #020070">Ship It</h3>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jobs">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Map</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
