<!DOCTYPE html>
<html>
  <head>
    <title>ShipIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('shipit.png') %>
    <%= yield(:head_tags) %>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Ship It</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">


                  <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/jobs">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <%= link_to 'New Job', new_job_path, class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class:"nav-link js-scroll-trigger" %>
          </li>
        </ul>
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <%= link_to root_path, class:"nav-link js-scroll-trigger", id: "test" do %>
              <div class="flex-container mr-4">
                <%= image_tag current_user.profile_picture, class: "profile-pic-thumbnail rounded-circle" %>
                <%= current_user.username %>
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', destroy_user_session_url, method: :delete, class:"nav-link js-scroll-trigger" %>
          </li>
        </ul>
            <% else %>
                <ul class="navbar-nav text-uppercase mr-auto">
                    <li class="nav-item">
                      <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link js-scroll-trigger", "data-toggle" => "modal", "data-target"=>"#signup-modal" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'Log In', new_user_session_url, class:"nav-link js-scroll-trigger", "data-toggle" => "modal", "data-target"=>"#login-modal" %>
                    </li>
                </ul>
            <% end %>
            </div>
        </div>
    </nav>
    <%= yield %>
    <% unless user_signed_in? %>
      <%= render partial: 'devise/registrations/new' %>
      <%= render partial: 'devise/sessions/new' %>
    <% end %>

  </body>
</html>